
<header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {{!-- fontaeSome --}}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</header>

{{!-- body starts here --}}
<body id="body">
{{!-- main container --}}
  <div class="container border border-primary ">
{{!-- header --}}
  
      <div class="navbar navbar-expand-lg " id="header" style="height: 10rem; background-color:cornflowerblue">
        <h1 class="text-center mx-auto">HOME PAGE</h1> 

        {{!-- <audio controls>
            <source src="horse.ogg" type="audio/ogg">
            <source src="../public/mp3/mp3.mp3" controls type="audio/mpeg">
          Your browser does not support the audio element. 
        </audio> --}}
      </div>

{{!-- articles starts here --}}

{{!-- 2 --}}
  {{!-- <div class="mt-4">
    <a href="#"><h3>HEADLINE CARS:</h3></a>
    <hr>
    <h5 class="">THIS IS SUB-HEADLINE: "this article about you will know how to make cars"</h5>
  </div> --}}

    {{!-- A1 --}}
          <div class="row">
            <div class="col-sm-8 mt-4">
              <div class="card mb-4" style="height: 30rem;">
                <div class="card-body">
            
            <img class="card-img" style="height: 27.5rem;" src="https://searchengineland.com/figz/wp-content/seloads/2016/02/uber-logo-1920.jpg" alt="Card image">
                
                </div>
              </div>
            </div>

            <div class="col-sm-4 mt-4">
              <div class="card" style="height: 30rem;">
                <div class="card-body">
                   <a href="#"><h3>Title: What Is Express MiddleWare</h3></a>
                   <hr>
                    <h5 class=""><b>Express middleware:</b> are functions that execute during the lifecycle of a request to the Express server. Each middleware has access to the HTTP request and response for each route (or path) it's attached to"</h5>
                    <h5>Posted date:</h5>
                 
                </div>
              </div>
            </div>
          </div>

{{!-- 2 --}}
  {{!-- <div class="card mb-4">
    <img class="card-img" src="https://searchengineland.com/figz/wp-content/seloads/2016/02/uber-logo-1920.jpg" alt="Card image">
  </div> --}}

 {{!-- A2 --}}

    <div class="row">
    <div class="col-sm-8 mt-4">
      <div class="card mb-4" style="height: 30rem;">
        <div class="card-body">
    
    <img class="card-img" style="height: 27.5rem;" src="https://searchengineland.com/figz/wp-content/seloads/2016/02/uber-logo-1920.jpg" alt="Card image">
        
        </div>
      </div>
    </div>

    <div class="col-sm-4 mt-4">
      <div class="card" style="height: 30rem;">
        <div class="card-body">
            <a href="#"><h3>Title: What Is Nodemon js</h3></a>
            <hr>
            <h5 class="">Short discription: "<b>Nodemon:</b> is a utility that will monitor for any changes in your source and automatically restart your server. Perfect for development. Install it using npm. Just use nodemon instead of node to run your code, and now your process will automatically restart when your code changes."</h5>
            <h5>Posted date:</h5>
          
        </div>
      </div>
    </div>
  </div>

{{!-- A3 --}}

  <div class="row">
    <div class="col-sm-8 mt-4">
      <div class="card mb-4" style="height: 30rem;">
        <div class="card-body">
    
    <img class="card-img" style="height: 27.5rem;" src="https://searchengineland.com/figz/wp-content/seloads/2016/02/uber-logo-1920.jpg" alt="Card image">
        
        </div>
      </div>
    </div>

    <div class="col-sm-4 mt-4">
      <div class="card" style="height: 30rem;">
        <div class="card-body">
            <a href="#"><h3>Title: What Is JavaScript</h3></a>
            <hr>
            <h5 class="">Short discription: "<b>JavaScript, often abbreviated as JS,</b> is a high-level, just-in-time compiled, multi-paradigm programming language that conforms to the ECMAScript specification. JavaScript has curly-bracket syntax, dynamic typing, prototype-based object-orientation, and first-class functions"</h5>
            <h5>Posted date:</h5>
          
        </div>
      </div>
    </div>
  </div>

  {{!-- main container ends here --}}  
 </div>

{{!-- pagination here --}}
<div class="container mt-4">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="/home">1</a></li>
        <li class="page-item"><a class="page-link" href="/article">2</a></li>
        <li class="page-item"><a class="page-link" href="/create">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
</div>


{{!-- body ends here --}}
</body>