{{!-- <h1>Home Page</h1> --}}
<header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {{!-- fontaeSome --}}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</header>


<body id="body">

{{!--  
    <nav class="navbar bg-yellow">

        <div class="collapse navbar-collapse " id="">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Login Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Home Page</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
  
    </nav> --}}

{{!-- <nav class="navbar navbar-expand-lg navbar-light " style="background-color: coral;">
        <a class="navbar-brand" href="#">|PHOTO FROM YOU|</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active ml-5">
                <a class="nav-link" id="login" href="#">Login</a>
            </li>
            <li class="nav-item ml-5">
                <a class="nav-link" id="home" href="#" >Home</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" id="search">Search</button>
        </form>

    </div>
</nav> --}}

<div class="pos-f-t">
  <div class="collapse" id="">
    <div class="bg-dark p-4">
      <h4 class="text-white">Collapsed content</h4>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler"   data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
{{!-- <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Diraction</button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button">Action</button>
    <button class="dropdown-item" type="button">Another action</button>
    <button class="dropdown-item" type="button">Something else here</button>
  </div>
</div> --}}

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
  </nav>
</div>

<h1 class="">HEADLINE CARS:</h1>
<hr>
<h3 class="">THIS IS SUB-HEADLINE "this article about you will know how to make cars"</h3>
<div class="container text-center" id="mainContainer" > 
{{!-- image card --}}
  <div class="card" style="width: 40rem; height:30rem">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1499084732479-de2c02d45fcc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" alt="Card image cap">
    </div>
  </div>
</div>
    
<h1 class="">HEADLINE CARS:</h1>
<hr>
<h3 class="">THIS IS SUB-HEADLINE "this article about you will know how to make cars"</h3>
<div class="container text-center" id="mainContainer" > 
{{!-- image card --}}
  <div class="card" style="width: 40rem; height:30rem">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1499084732479-de2c02d45fcc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" alt="Card image cap">
    </div>
  </div>
</div>
    

    <h1 class="">HEADLINE CARS:</h1>
<hr>
<h3 class="">THIS IS SUB-HEADLINE "this article about you will know how to make cars"</h3>
<div class="container text-center" id="mainContainer" > 
{{!-- image card --}}
  <div class="card" style="width: 40rem; height:30rem">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1499084732479-de2c02d45fcc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" alt="Card image cap">
    </div>
  </div>
</div>
    

    <h1 class="">HEADLINE CARS:</h1>
<hr>
<h3 class="">THIS IS SUB-HEADLINE "this article about you will know how to make cars"</h3>
<div class="container text-center" id="mainContainer" > 
{{!-- image card --}}
  <div class="card" style="width: 40rem; height:30rem">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1499084732479-de2c02d45fcc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" alt="Card image cap">
    </div>
  </div>
</div>
    

    <h1 class="">HEADLINE CARS:</h1>
<hr>
<h3 class="">THIS IS SUB-HEADLINE "this article about you will know how to make cars"</h3>
<div class="container text-center" id="mainContainer" > 
{{!-- image card --}}
  <div class="card" style="width: 40rem; height:30rem">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1499084732479-de2c02d45fcc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" alt="Card image cap">
    </div>
  </div>
</div>
    
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>

</body>